{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>McNeal's Refrigeration Inc</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Nunito:600" rel="stylesheet">
</head>

<body>

    <header class="container-fluid" id="page-header">
		<div class="row">
            <div class="col-md-12" id="left-header">
                <a class="brand" href="/">
                    <img class="header-logo" src="{% static 'images/logo-clean.png' %}" alt="Header Logo">
                </a>
                <div id="text-header">
                    <h1><a href="/">McNeal's Refrigeration Inc.</a></h1>
                    <h5><em>Serving Linn County and Surrounding Areas Since 2001</em></h5>
                </div>
		    </div>
        </div>
    </header>


    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header navbar-right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'home'%}">Home</a></li>
                    <li><a href="{% url 'team' %}">Meet Our Team</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<p class="text-muted">Thank you for visiting McNeal's Refrigeration Website</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 bbb-logo">
					<a href="https://www.bbb.org/iowa/business-reviews/refrigeration-equipment-commercial-sales-and-service/mcneals-refrigeration-in-cedar-rapids-ia-32054155"><img class="img-responsive center-block" src="{% static 'images/bbb-logo.jpg' %}" alt="BBB Logo"></a>
				</div>
			</div>
		</div>
	</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>

