{% extends 'homepage/base.html' %}
    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-8 profiles">
                    <div class="employ" id="dan">
                        <h3>Dan McNeal</h3>
                        <h4>Owner, President</h4>
                        <p>Dan has been working in the refrigeration and heating field for over 30 years, building his reputation in the field and allowing
                            him to open his own business in 2001.
                            With a charismatic personality and a personable approach to the way he conducts business,
                            the luck of the Irish is on his side.
                            Dan also works as the Midwest Sales Associate for <a href="http://www.lintern.com/">Lintern Coporation</a>,
                            whom specialize in severe duty air conditioning products.
                        </p>
                    <br>
                    </div>
                    <div class="employ" id="tom">
                        <h3>Tom Greif</h3>
                        <h4>Lead Technician</h4>
                        <p>Tom has been a irreplaceable addition to the team since he began in 2013. With little previous work in the heating
                            and cooling industry, Tom's natural abilities to source and solve mechanical problems has pushed him from apprentice to
                            lead technician. When Tom isn't running service calls, you can find him in his fishing boat, tending to his garden,
                            or cooking for a hungry crowd.
                         </p>
                    </div>
                    <br>
                    <div class="employ" id="trish">
                        <h3>Trisha Kummer</h3>
                        <h4>Office Manager</h4>
                        <p>Trisha's office support has kept the wheels of the business turning since she began in 2008. Without her expertise in
                            organization and office management, McNeal's Refrigeration wouldn't be the company it is today. In her free time,
                            Trisha enjoys spending time with her family and dogs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}