body {
    background-color: #219B22;
    font-family: 'Francois One', sans-serif;
}

p{
    color: black;
}

a {
    color: black;
}

.employ h3{
    color: inherit;
}
#page-header{
    background-color: #219B22;
    margin-top: 0;
    margin-bottom: 31px;
    padding: 20px 20px 0px 40px;
    border-bottom: 1px solid darkgreen;
}

#left-header {
    display: inline-flex;
}

#contact-shortcut{
    padding-right: 10px;
}

.nav-tabs{
    border-bottom: none;
}
.nav-tabs li a {
    margin-right: 9px;
    border: 1px solid darkgreen;
    border-bottom-color: transparent;
}

.nav-tabs li a:hover {
    background-color: greenyellow;
    color: black;
    border-color: inherit;
    opacity: 0.5;
}

#text-header h1 a{
    color: black;
    text-decoration: none;
}

#contact-homepage a:hover{
    color: black;
    text-decoration: none;
}


#contact-map{
    padding-right: 90px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #147e17;
    opacity: 0.9;
}

.container-fluid .text-muted{
    margin: 20px 0;
    color: inherit;
}