body {
    background-color: white;
    font-family: 'Nunito', sans-serif;
}

@media screen and (max-width: 768px){
    #page-header{
        text-align: center;
    }
}

p{
    color: black;
}

/*header*/

.header-logo{
    height: 100px;
    width: 100px;
    padding-top: 6px;
    padding-right: 2px;
}

#page-header{
    background-color: #318e14;
    padding: 40px 40px 56px 40px;
}

#text-header {
    display: inline-block;
    vertical-align: middle;
}

#text-header h1 a{
    font-family: 'Abril Fatface', cursive;
    color: black;
    text-decoration: none;
}

/*navbar*/

.nav-tabs{
    border-bottom: none;
}
.nav-tabs li a {
    margin-right: 9px;
    border: 1px solid darkgreen;
    border-bottom-color: transparent;
}

.nav-tabs li a:hover {
    background-color: greenyellow;
    color: black;
    border-color: inherit;
    opacity: 0.5;
}

/*footer css*/

.footer{
    bottom: 0;
    width: 100%;
    background-color: #147e17;
    opacity: 0.9;
    padding: 40px 0px;
    margin-top: 150px;
}

.text-muted{
    margin: 20px 0;
    color: inherit;
}

.bbb-logo .img-responsive{
    margin-top:2px;
    height: 53px;
    width: 137px;
}

/*home html*/

#contact-homepage a {
    color: inherit;
}

#contact-homepage a:hover{
    opacity: 0.7;
    text-decoration: none;
}

/*team html*/

.employ p a {
    color: black;
}

.employ h3{
    color: inherit;
}

/*contact html*/

#contact-info h4 a{
    color: black;
}



section #years, #home-map{
    padding: 40px 120px;
    margin-top: 50px;
    margin-bottom: 50px;
}

section div:nth-child(2) {
    background-color: rgba(49, 142, 20, 0.06);
}

.navbar{
    margin-bottom: 0;
}

